<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhe do Usuário</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="container mt-4">

<h2>Detalhes do Usuário</h2>

<div class="card">
    <div class="card-body">
        <p><strong>ID:</strong> <span th:text="${usuario.id}"></span></p>
        <p><strong>Nome:</strong> <span th:text="${usuario.nome}"></span></p>
        <p><strong>Email:</strong> <span th:text="${usuario.email}"></span></p>

        <a th:href="@{/usuarios}" class="btn btn-secondary">Voltar</a>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>